* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: #fff;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  font-family: 'Karla', sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
}

.title strong {
  font-size: 43px;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  color: #FF8008;
  padding: 0 16px;
  float: left;
  display: block;
}

/* Style the topnav links */
.navbar>a {
  float: right;
  display: block;
  color: #FF8008;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar>a:hover {
  background-color: #ddd;
  color: black;
}

/* banner css */
.banner {
  font-family: 'Karla', sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin: 30px auto;
}

#img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(https://bit.ly/2RUcn0q);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 640px;
  /* height: 100vh; */
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 23px;
}

.caption h2 {
  text-transform: uppercase;
  line-height: 52px;
  font-weight: 600;
  font-size: 29px;
}

.caption p {
  font-size: 17.3px;
}

#quate {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 28.7px;
  margin: 27px auto;
}

#greatest {
  color: #FF8008;
  font-weight: 600;
}

/* section css */
section {
  text-align: center;
  margin: 28px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 30.2px;
}

section>li {
  flex: 0 50%;
  /* border: red solid; */
  box-sizing: border-box;
  padding: 9px;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  text-align: center;
  /* margin: 1px; */
}

.sectionlist {
  text-align: center;
}

/* footer css */
.footer {
  padding: 13px;
  font-weight: 400;
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  /* text-align: center; */
  background: #FF8008;
  background: -webkit-linear-gradient(to left, #FFC837, #FF8008);
  background: linear-gradient(to left, #FFC837, #FF8008);
}

.flexx {
  margin: 7px 20px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Karla', sans-serif;
  line-height: 30px;
}

.flexx>li {
  flex: 1 1 auto;
  text-align: center;
  margin: 10px 60px;
  /* line-height: 30px; */
}

#li1 {
  padding: 4px;
}

li {
  list-style: none;
}

#li2 {
  line-height: 22px;
  border: 2px solid;
  padding: 4px;
}

#hacktiv {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

#copyright {
  font-size: 11px;
}

#contact {
  font-size: 15px;
}

#nomor {
  font-size: 13px;
}

#alamat {
  font-size: 15px;
  font-style: italic;
}
