* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 14px;
  overflow: hidden;
  background-color: #fff;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  font-family: 'Karla', sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
}

.title strong {
  font-size: 43px;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  color: #FF8008;
  padding: 0 16px;
  float: left;
  display: block;
}

/* Style the topnav links */
.navbar>a {
  float: right;
  display: block;
  color: #FF8008;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar>a:hover {
  background-color: rgb(247, 242, 0);
  color: black;
}

/* banner css */
.banner {
  font-family: 'Karla', sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin: 30px auto;
}

#img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url("./assets/hospital.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 640px;
  /* height: 100vh; */
}

#img_aboutus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url("./assets/building.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 640px;
  /* height: 100vh; */
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 23px;
}

.caption h2 {
  text-transform: uppercase;
  line-height: 52px;
  font-weight: 600;
  font-size: 29px;
}

.caption p {
  font-size: 17.3px;
}

#quote {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-size: 28.7px;
  margin: 27px auto;
  font-weight: bolder;
}

#greatest {
  color: #FF8008;
  font-weight: 600;
}

/* section css */
section {
  text-align: center;
  margin: 28px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 30.2px;
}

section>li {
  flex: 0 50%;
  /* border: red solid; */
  box-sizing: border-box;
  padding: 14px;
  font-family: 'Karla', sans-serif;
  /* font-size: 2px; */
  text-align: center;
  /* margin: 1px; */
}

.sectionlist {
  text-align: center;
}

.sectionlist p{
  padding: 20px;
 font-family: 'Karla', sans-serif;
 font-size: 20px;
 line-height: 27px;
}


.flex0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  width: 73%;
  margin: 10px auto;
}

.flex0 > div {
/*   background: pink; */
}
 .doctors {
   width: 40%;
 }

.column1 {
  display: flex;
  flex-direction: column;
  margin: 3px;
  list-style: none;
  text-align: center;
  padding: 10px;
  width: 45%;
}

.hh2 {
  text-align: right;
  margin: 10px;
  background-color: #F5F7FA;
  padding: 5px;
  font-family: 'Karla', sans-serif;
}

.hh3 {
  text-align: left;
  margin: 10px;
  background-color: #F5F7FA;
  padding: 5px;
  font-family: 'Karla', sans-serif;
}


/* footer css */
.footer {
  padding: 13px;
  font-weight: 400;
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  /* text-align: center; */
  background: #FF8008;
  background: -webkit-linear-gradient(to left, #FFC837, #FF8008);
  background: linear-gradient(to left, #FFC837, #FF8008);
}

.flexx {
  margin: 7px 20px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Karla', sans-serif;
  line-height: 30px;
}

.flexx>li {
  flex: 1 1 auto;
  text-align: center;
  margin: 10px 60px;
  /* line-height: 30px; */
}

#li1 {
  padding: 4px;
}

li {
  list-style: none;
}

li>p {
  padding: 10%;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;

}

#li2 {
  line-height: 22px;
  border: 2px solid;
  box-shadow: 1px 1px grey;
  padding: 4px;
}

#hacktiv {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

#copyright {
  font-size: 11px;
}

#contact {
  font-size: 15px;
}

#nomor {
  font-size: 13px;
}

#alamat {
  font-size: 15px;
  font-style: italic;
}
#li3 a{
  text-decoration: none;
  color: #0a0109;

}
#li3 {
  display: none;
}

#li3 a:hover{
  padding: 3px;
  border-bottom: 2px solid;
}
/* media queries */
@media (min-width: 768px) and (max-width: 1024px) {
  .caption h2 {
    font-size: 20.7px;
    line-height: 30px;
  }

  .caption p {
    font-size: 16px;
  }

  section {

    line-height: 24.2px;
  }
  section>li {
    padding: 4px;
    font-size: 15.6px;
  }


}


@media (min-width: 320px) and (max-width: 480px) {
  .caption {
    line-height: 20px;
    width: 100%;
    padding: 3px;
  }

  .caption p {
    font-size: 15px;
    /* letter-spacing: normal; */
  }

  .caption h2 {
    line-height: 29px;
    margin-bottom: 8.9px;
  }
  section {
    flex-direction: column;
  }

  section {
    line-height: 22.2px;
    /* letter-spacing: normal; */
  }
  section>li {
    padding: 4px;
    font-size: 12.95px;
  }
  #li3 {
    display: inline;
  }

  .column1{

  }
  .hh2{
    font-size: 0.7em;
  }
  .hh3{
  font-size: 0.7em;
  }

  .doctors {
    width: 93%;
  }

  .sectionlist p {
    font-size: 17px;
    padding: 10px;
   line-height: 18px;
  }
  .sectionlist {
    line-height: 18px;
    margin: 18px 4px;
  }
}

.about_konten {
  display: block;
  margin: 20px 200px;
  line-height: 25px;
}

.p_about {
  margin: 20px 0;
  text-align: justify;
  font-family: 'Karla', sans-serif;
}
.founder {
  margin: 0 50px;
  height: 220px;
  display: inline-flex;
  border-radius: 20px;
  background: #FF8008;
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
  background: linear-gradient(to right, #FFC837, #FF8008);
  font-family: 'Karla', sans-serif;
}

.founder img {
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

.founder li {
  margin: 10px 10px;

}
